services:
  localstack:
    image: localstack/localstack:3.0
    container_name: localstack_saga
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs,s3,dynamodb
      - DEFAULT_REGION=us-east-1
      - DEBUG=1
      - PERSISTENCE=1
    volumes:
      - "./localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - saga-network
  saga-app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - AWS_LOCALSTACK_ENDPOINT=https://localstack:4566
      - SPRING_PROFILES_ACTIVE=local
    depends_on:
      - localstack
    networks:
      - saga-network
networks:
  saga-network:
    driver: bridge